<div class="bg-[#f2eae6]">
  
  
  <!-- Mobile View Input box -->
  <div class="w-full md:hidden p-2 text-center mx-auto pb-4 font-mabryPro md:pb-0">
    <app-search/>
  </div>

  <!-- Desktop View -->
  <div class="md:flex md:flex-row">
    <!-- Bio description -->
   <div class="w-full md:w-5/6 lg:w-1/4  px-10 md:border-r-2 border-black">
     <app-profile />
   </div> 


    <!-- Repositories -->
    <div class="w-full md:w-3/4 mx-auto h-screen">
      <div class="p-2 text-center mx-auto pb-4 border-b-2 border-black font-mabryPro invisible sm:visible">
        <app-search/>
      </div>

      <app-repo-list/>

    </div>
  </div>

</div>

